---
import Layout from "../layouts/Layout.astro"
import Navigation from "../components/Navigation.astro"
---

<Layout>
	<div class="content-container">
		<Navigation label="/Now" link="/now/"/>
		<div class="content-wrapper">
			<hr class="horizontal" />
			<div class="about-container">
				<h2>About</h2>
				<div class="about-text">
					<p>
						Hi, I'm Joe Sheen, and I'm currently employed as a software engineer at <a href="https://polarissoftware.com/" target="_blank">Polaris Software</a> (formerly JML Software Solutions Ltd).
						During my time at Polaris, I've been working on features for the latest version of the Chronicle operational management system and web-based armoury applications.
					</p>
				</div>
				<div class="about-image">
					<!-- Image will go here -->
				</div>
				<div class="interests">
					<h3>Interests</h3>
					<p>Areas of Software Engineering and Development that I'm currenlty interested in:</p>
					<ul>
						<li>Java</li>
						<li>Spring Boot</li>
						<li>TypeScript</li>
						<li>Angular</li>
						<li>Go</li>
						<li>Python</li>
						<li>Testing</li>
						<li>Cyber Security</li>
						<li>Automation</li>
					</ul>
				</div>
				<!--div class="shoejs">
					<h3>Why shoejs?</h3>
				</div-->
			</div>
			<div class="cv-container">
				<h2>Curriculum Vitae</h2>
				<div class="cv-wrapper">
					<object type="application/pdf" data="/curriculumVitae.pdf" title="Curriculum Vitae" aria-label="Curriculum Vitae Viewer" aria-labelledby="curriculum-vitae pdf">
						Joe Sheen Curriculum Vitae
					</object>
					<div class="download-link">
						<a href="/curriculumVitae.pdf" download="JoeSheenCV.pdf">
							Download
						</a>
					</div>
				</div>
			</div>
			<hr class="horizontal" />
		</div>
	</div>
</Layout>

<style>
	object {
		min-height:100vh;
		width:100%
	}

	.download-link {
		text-align: center;
		padding: 25px 0 20px 0;
	}

	.download-link a {
		font-weight:700;
		text-decoration: none;
		border: 1px solid var(--lapis-lazuli);
		border-radius: 10px;
		padding: 14px;
	}

	.download-link a:hover {
		border: 1px solid var(--malachite);
	}
</style>
