---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
    <Navigation label='Home' link='/' />
    <div class="content-wrapper">
        <hr class="horizontal" />
        <div class="now-container">
            <h2>/Now</h2>
            <div class="now-introduction">
                <p>
                    This page was inspired by <a href="https://sive.rs/" target="_blank">Derek Sivers</a>'s article <a href="https://sive.rs/nowff" target="_blank">The /Now page movement</a> and the community that has embraced the idea of including a <a href="https://nownownow.com/" target="_blank">now page</a> on their personal websites and blogs.
                    The purpose of this page is to show what I'm focused on (in no particular order) at this point in my life and will be updated over time.
                </p>
            </div>
            <div class="running-5k">
                <h3>Focus 1 -  Running 5K</h3>
                <p>At 16:28 on the 09/12/2024, I decided to start running with the goal of completing the <a href="https://www.nhs.uk/live-well/exercise/get-running-with-couch-to-5k/" target="_blank">Couch To 5K</a> program in 10 weeks.
                I plan to use the remainder of this section to track my progress:</p>
                <table>
                    <tr>
                        <th>Week</th>
                        <th>Runs</th>
                        <th>Dates</th>
                    </tr>
                    <tr>
                        <td class="week">Week 1</td>
                        <td>
                            <ol>
                                <li>60 seconds of running (x8) and 90 seconds walking (x7): <span class="check-mark">&#10003;</span></li> 
                                <li>60 seconds of running (x8) and 90 seconds walking (x7): <span class="check-mark">&#10003;</span></li>
                                <li>60 seconds of running (x8) and 90 seconds walking (x7): <span class="check-mark">&#10003;</span></li>
                            </ol>
                        </td>
                        <td>09/12/2024 - 13/12/2024</td>
                    </tr>
                    <tr>
                        <td class="week">Week 2</td>
                        <td>
                            <ol>
                                <li>90 seconds running (x6) and 2 minutes walking (x5): <span class="check-mark">&#10003;</span></li>
                                <li>90 seconds running (x6) and 2 minutes walking (x5): <span class="check-mark">&#10003;</span></li>
                                <li>90 seconds running (x6) and 2 minutes walking (x5): <span class="check-mark">&#10003;</span></li>
                            </ol>
                        </td>
                        <td>14/12/2024 - 17/12/2024</td>
                    </tr>
                    <tr>
                        <td class="week">Week 3</td>
                        <td>
                            <ol>
                                <li>Run 90 seconds, Walk 90 seconds, Run 3 minutes, Walk 3 minutes, Run 90 seconds, Walk 90 seconds, Run 3 minutes, Walk 3 minutes: <span class="check-mark">&#10003;</span></li>
                                <li>Run 90 seconds, Walk 90 seconds, Run 3 minutes, Walk 3 minutes, Run 90 seconds, Walk 90 seconds, Run 3 minutes, Walk 3 minutes: <span class="check-mark">&#10003;</span></li>
                                <li>Run 90 seconds, Walk 90 seconds, Run 3 minutes, Walk 3 minutes, Run 90 seconds, Walk 90 seconds, Run 3 minutes, Walk 3 minutes: <span class="check-mark">&#10003;</span></li>
                            </ol>
                        </td>
                        <td>21/12/2024 - 27/12/2024</td>
                    </tr>
                    <tr>
                        <td class="week">Week 4</td>
                        <td>
                            <ol>
                                <li>Run 3 minutes, Walk 90 seconds, Run 5 minutes, Walk 2 ½ minutes, Run 5 minutes: <span class="check-mark">&#10003;</span></li>
                                <li>Run 3 minutes, Walk 90 seconds, Run 5 minutes, Walk 2 ½ minutes, Run 5 minutes: <span class="check-mark">&#10003;</span></li>
                                <li>Run 3 minutes, Walk 90 seconds, Run 5 minutes, Walk 2 ½ minutes, Run 5 minutes: <span class="check-mark">&#10003;</span></li>
                            </ol>
                        </td>
                        <td>30/12/2024 - 03/01/2025</td>
                    </tr>
                    <tr>
                        <td class="week">Week 5</td>
                        <td>
                            <ol>
                                <li>Run 5 minutes, Walk 3 minutes, Run 5 minutes, Walk 3 minutes, Run 5 minutes: <span class="check-mark">&#10003;</span></li>
                                <li>Run 8 minutes, Walk 5 minutes, Run 8 minutes: <span class="ballot-box">&#x2610;</span></li>
                                <li>Run 20 minutes: <span class="ballot-box">&#x2610;</span></li>
                            </ol>
                        </td>
                        <td>05/01/2025 - TBD</td>
                    </tr>
                    <tr>
                        <td class="week">Week 6</td>
                        <td>
                            <ol>
                                <li>Run 5 minutes, Walk 3 minutes, Run 8 minutes, Walk 3 minutes, Run 5 minutes: <span class="ballot-box">&#x2610;</span></li>
                                <li>Run 10 minutes, Walk 3 minutes, Run 10 minutes: <span class="ballot-box">&#x2610;</span></li>
                                <li>Run 25 minutes: <span class="ballot-box">&#x2610;</span></li>
                            </ol>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="week">Week 7</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="week">Week 8</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="week">Week 9</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--<tr>
                        <td colspan="100%"></td>
                    </tr>-->
                </table>
            </div>
            <div class="career">
                <h3>Focus 2 - Career</h3>
                <p>
                    I'm currently at Polaris Software as a software engineer, focusing on delivering new features for the latest version of the Chronicle operational management system.
                    <ul>
                        <li>I'm concentrating on developing my skills as a software engineer and progressing towards the next stage of my career.</li>
                    </ul>
                </p>
            </div>
            <div class="home-office">
                <h3>Focus 3 - Home Office &#38; Equipment</h3>
                <p>
                    I recently purchased a standing desk with the aim of improving my posture and back health. 
                    My final aim is to stand for 15/20 minutes for every hour I spend at my desk. Currently, I stand for 5/10 minutes when at my desk. 
                    Another outcome I am considering trying out is the <a href="https://flexispot.co.uk/blog/the-20-8-2-rule-a-simple-strategy-to-avoid-the-negative-effects-of-sitting?srsltid=AfmBOoprPB05XgRPF3LklmnFtHcfyuWnASTRr7vC-tzl7WOAb1lnDlR1" target="_blank">20-8-2</a> rule.
                </p>
                <p class="aspects">Other aspects and preferences of my office/setup:</p>
                <div class="equipment-list">
                    <ul>
                        <li>Personal Laptop - Dell XPS 15 (9570)</li>
                        <li>Personal Desktop - custom build PC with:
                            <ul>
                                <li>Intel i7-12700K</li>
                                <li>32GB RAM</li>
                                <li>NVIDIA RTX 3060</li>
                            </ul>
                        </li>
                        <li>Phone - iPhone 13 128GB</li>
                        <li>Headphones/Earbuds:
                            <ul>
                                <li>Jabra Elite 8 Active</li>
                                <li>Anker Soundcore Space One</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--div class="financial">
                <h3>Focus 4 - Financial</h3>
                <p></p>
            </div-->
        </div>
        <hr class="horizontal"/>
    </div>
</Layout>

<style>
    table, th, td {
        border: 1px solid var(--night);
        border-collapse: collapse;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    tr:nth-child(odd) {
       background-color: rgba(20, 92, 158, 0.65);
    }

    .week {
        text-align: center;
    }

    .check-mark {
        color: var(--malachite);
        font-weight:800;
    }

    .ballot-box {
        color: var(--night);
        font-weight: 800;
    }

    .career ul {
       margin-top: 3px;
       margin-bottom: 20px;
    }

    .career p {
        margin-bottom: 5px;
    }

    .aspects {
        margin-bottom: 0;
    }

    .equipment-list ul {
        margin-top: 0;
    }

</style>
