---
interface Props {
  title?: string;
  link: string;
  label: string;
}

const { title, link, label } = Astro.props;

const defaultTitle = "Joe Sheen - Software Engineer";
---

<div class="navbar-container">
  <h1 class="title-style">
    {
      () => {
        if (title === undefined) {
          return defaultTitle;
        } else {
          return title;
        }
      }
    }
  </h1>
  <nav>
    <a href="https://github.com/JoeSheen" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/joe-sheen-3a2146172/" target="_blank"
      >LinkedIn</a
    >
    <!--a href={link}>{label}</a-->
  </nav>
</div>

<style>
  .navbar-container {
    text-align: center;
    box-shadow: 0 0 0.875rem 0 rgba(15, 17, 17, 0.5);
    border-radius: 0.5rem;
    padding-top: 7px;
    padding-bottom: 15px;
    background-color: var(--onyx);
    color: var(--tropical-indigo);
  }

  .title-style {
    margin-left: 20px;
    margin-right: 20px;
  }

  a {
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: var(--sandy-brown);
  }

  a:hover {
    color: var(--tomato);
  }
</style>
