---
interface Props {
    link: string
    label: string
}
const { link, label } = Astro.props
---

<div class="navbar-container">
    <div class="title">
        <h1>Joe Sheen - Software Engineer</h1>
    </div>
    <nav class="navbar">
        <div class="navbar-links">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/joe-sheen-3a2146172/" target="_blank">
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/JoeSheen" target="_blank">
                        GitHub
                    </a>
                </li>
                <li>
                    <a href={ link }>
                        { label }
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
