---
---

<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="generator" content={ Astro.generator } />
		<meta name="description" content=""/>
		<title>shoe.js</title>
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--platinum: #EAE6E5;
		--night: #12130F;
		--lapis-lazuli: #145C9E;
		--munsell-blue: #1B9AAA;
		--malachite: #04E752;
	}

	body {
		background-color: var(--platinum);
		color: var(--night);
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding: 1rem;
	}

	a {
		color: var(--lapis-lazuli);
	}

	a:hover {
		color: var(--malachite);
		text-decoration: none;
	}

	.horizontal {
		border: .15px solid var(--night);
		border-radius: 20px;
	}
</style>
